
@{
    ViewBag.Title = "MaxSizeImage";
}

<h2>Your Image is too large </h2>
<h3>Max size of the image <br /> 3 Miga </h3>

@using (Html.BeginForm("UploadProfileImage", "ImageUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file"
           style="position:fixed;
        left:10px;
        top: 110px;
        " />

        <input type="submit" value="Upload"
               style="position:fixed;
        left: 60%;
        top: 50px;
        background-color:#337ab7;
        color:#fff;
        border-radius:5px;
        padding:5px;
        cursor:pointer;
        " />
}


