@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@section MainHeader{

    @Html.Partial("PartialViews/PartialAdminHeader")
}
@section Container{
    <div class="main_block">
    <div class="inner_block">

    </div>
    <div class="inner_block text-center">
        <h1>
            Manage Solutions
        </h1>
    </div>
</div>
<br />

<div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
    <input type="button" value="Create" id="AddSolution" class="adduser col-lg-12 col-md-12 col-xs-12 col-sm-12 placeholder classnode" />
</div>
<div id="SolutionsList"> </div>
<div class="col-md-12 text-center" id="loading"></div>

}
@section MainFooter{

    @Html.Partial("PartialViews/PartialAdminFooter")
}
@section  JavaScriptSection{
    <script type="text/javascript">

        var page = -1;
        var _inCallback = false;
        //jQuery(document).ready(loadSolutions());
        loadSolutions();
        $('#AddSolution').click(function () {
            window.location.href = "/Solutions/Create";
        });
    </script>
}
